*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.ipch

Shoot/build/vc/x64/

ShootEditor/build/vc/x64/

Game/build/vc/editor/x64/
Game/build/vc/game/x64/

/Game/data.fs

EditorLauncherRelease.map
*.exe
*.vcxproj.user
*.suo
*.VC.db-*
*.pdb

Shoot/tools/FileSystemGenerator/x64/